@import "src/assets/globalStyles/style";
.CenterOpening {
  @media (max-width: 768px) {
    .mapImg {
      width: 100%;
    }
    .title {
      font-size: 35px;
      line-height: 50px;
    }
    .block_info {
      padding: 10px;
      img {
        width: 100%;
      }
    }
    .candidate {
      .title_fullwidth {
        font-size: 26px;
        text-align: center;
      }
      img {
        width: 100%;
      }
    }
  }
  .table_profit {
    padding: 10px;
    .title {
      font-size: 30px;
      line-height: 40px;
      text-align: center;
    }
  }
}

.bgGrey {
  background: #f9f9f9;
  padding-bottom: 50px;
}
.BecomePartner {
  background: #fff;
}
.main_padding {
  padding: 50px 0;
}

.title {
  text-align: left;
  font-size: 50px;

}
.title_center {
  @extend .title;
  text-align: center;
}
.list {
  li {
    padding: 5px 0;
    list-style-type: none;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 12px;
      left: -20px;
      height: 10px;
      width: 10px;
      background: #fec825;
      border-radius: 50%;
    }
  }
}
.title_fullwidth {
  font-size: 50px;
  text-align: justify;
  font-weight: 500;
}
.ruleOpen {
  .title {
    font-size: 40px;
    line-height: 1.5;
  }
  @media (max-width: 768px) {
    padding: 10px;
    img {
      width: 100%;
      padding: 10px;
    }
    .title {
      font-size: 30px;
    }
    .quote {
      font-size: 20px;
      padding: 20px;
      margin: 20px;
    }
  }
}
.text_center {
  text-align: center;
}
.table {
  @extend .table;

  thead tr,
  td {
    text-align: center;
  }
}
