$accent: #fec825;
.BinarCard {
  transition: 0.3s;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  &:hover {
    transform: scale(1.05);
    border: 1px solid $accent;
  }
}
.card_header {
  font-weight: 500;
  font-size: 66px;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #f2f2f2;
  letter-spacing: 0;
}
.card_title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 26px;
}
.card_footer {
  background-color: #fff;
  border-top-color: #f2f2f2;
  padding-top: 20px;
  padding-bottom: 30px;
}
.dFlex {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.accent {
  font-weight: 600;
  font-size: 24px;
  color: $accent;
}
.button {
  background-color: #fff;
  border: 1px solid #000;
  padding: 10px 60px;
}
.left_col {
  font-size: 14px;
  color: #4f4f4f;
  margin-bottom: 20px;
}
.right_col {
  text-align: right;
  font-weight: 500;
  font-size: 20px;
}
