@import "src/assets/globalStyles/style";
@import "src/assets/globalStyles/variables";

.desk {
  display: flex;
  flex-direction: column;
  background: transparent !important;
  font-weight: 500;
  font-size: 20px;
  text-align: center;

  .icon {
    padding: 20px;
    margin-bottom: 15px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(160, 160, 160, 0.25);
    border-radius: 16px;
    &:hover {
      box-shadow: 0 0 30px rgba(136, 136, 136, 0.25);
    }
  }
}
.tab {
  .active {
    display: none;
  }
  &:after {
    border-bottom: none;
  }
}
.PrioritySlide {
  padding: 50px 0;
}
