.PersonalData {
  padding: 35px 10px;
}
.img_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  .img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 10px;
  }
}
.control_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  a {
    color: #2f80ed;
  }
  .red {
    color: #eb5757;
  }
}
