.video_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333333;
}
.title {
  margin-bottom: 50px ;
  @media (max-width: 768px) {
    font-size: 30px;
    text-align: center;
    }
}
.text {
  text-align: center;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 50px ;
  @media (max-width: 768px) {
    padding: 0 10px;
  }
}
.bg {
  padding-top: 80px;
  background: #f9f9f9;
  padding-bottom: 60px;
}
.bg_svg {
  position: absolute;
  top: 0;
  right: 0;
}
.iframe {
  width:800px;
  height:450px;
  @media (max-width: 768px) {
    width:400px;
    height:450px;
  }
}