.OfferLayout {
  font-size: 16px;
  background-color: #f9f9f9;
  padding: 30px 0;
  strong {
    padding: 10px 0;
    display: block;
  }
}
.container {
  background-color: #fff;
  padding: 60px;
}
.title {
  font-weight: 500;
  font-size: 40px;
}
