.content {
  padding: 30px 0;
}
.table thead th {
  border-top: none;
  border-bottom: 2px solid #fec825;
}
.table td {
  padding: 1.1rem;
}

.table tbody tr:nth-of-type(odd) {
  background-color: #fff;
}
.table tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}
.fakeBg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
}
.minHeight {
  min-height: 800px;
}
.success {
  color: green;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.reject {
  color: red;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.tabs {
  @media (max-width: 768px) {
    font-size: 14px;
    margin: 0;
    display: flex;
    justify-content: center;
  }
}