.login {
  background: #f2f2f2;
  border-radius: 10px;
  width: 832px;
  padding: 100px 81px;
}
.two_column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.login_button {
  min-width: 350px;
}
.reset {
  margin: 0;
}
