@import "src/assets/globalStyles/style";
@import "src/assets/globalStyles/variables";

.description {
  padding: 50px 0;

  p {
    line-height: 160%;
  }
}
.bgf9 {
  background-color: #f9f9f9;
}
.title {
  text-align: left;
  padding-bottom: 30px;
}
.stages_options {
  padding: $padding;
}
.Satisfied {
  .title {
    font-size: 48px;
  }
  @media (max-width: 768px) {
    .title {
      font-size: 30px;
      line-height: 40px;
    }
  }
  .accentBig {
    font-size: 20px;
    font-weight: 500;
  }

}
.optinonal_Jumbotron {
  @extend .mobile_jimbotron
}
.Optional {

  @media (max-width: 768px) {
    .img {
      width: 100%;
    }
  }
}