$mainColor: #FEC825;
$secondColor: #F39C12;
.social-buttons {
  i{
    opacity: 0.7;
    font-size: 1.5rem;
    padding: 6px;
    transition: 0.3s;
    color: #DAA400;
    &:hover {
      color: $mainColor;
      cursor: pointer;
      transform: translateY(-5px);
      opacity: 1;
    }
  }
}