.content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.JumbotronCustom {
  padding: 70px;
  background-repeat: no-repeat;
  min-height: 705px;
  h1 {
    font-weight: 600;
    font-size: 50px;
  }
  p {
    font-size: 16px;
  }
}
