.BecomePartner {
  background: #fff;
  .title {
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    text-align: left;
    color: #333333;
    margin-bottom: 40px;
  }
  .button {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    padding: 20px;
  }
  .container {
    padding: 60px 30px;
  }
  .img {
    object-fit: cover;

  }
  @media (max-width: 768px) {
    .title {
      font-size: 30px;
      line-height: 40px;
    }
    .img {
      object-fit: cover;
      width: 100%;
    }
  }
}

