.title {
  font-weight: 600;
  font-size: 36px;
  line-height: 46px;
  text-align: left;
  color: #333333;
  margin-bottom: 40px;
}
.button {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  padding: 20px;
}
.bg {
  background: #f9f9f9;
  padding-bottom: 60px;
}
.bg_svg {
  position: absolute;
  top: 0;
  right: 0;
}
