.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  text-align: left;
  color: #333333;
}
.MiraxHistory {
  p {
    font-size: 16px;
    line-height: 160%;
    color: #333333;
  }
}
.accent {
  margin-top: 50px;
  color: #fec825;
  text-align: center;
  border: 2px solid #fec825;
  padding: 50px;
  font-size: 40px;
}
