.title {
  font-weight: 600;
  font-size: 50px;
  line-height: 64px;
  text-align: left;
  color: #333333;
}
.MiraxHistory {
  p {
    font-size: 16px;
    line-height: 160%;
    color: #333333;
  }
  span {
    font-size: 60px;
    font-weight: 600;
    color: #fec825;
  }
  .block,
  .bg_grey {
    padding: 30px 0;
  }
  .bg_grey {
    background-color: #f9f9f9;
  }
}
