.dashboard {
  background-color: #f7f7f7;
  padding: 30px 0;
}
.container {
  background-color: white;
}
.content {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    background-color: #e0e0e0;
    height: 100%;
    width: 1px;
  }
}
.side_bar {
  padding: 0;
}
