@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500&display=swap");
@import "variables";
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  letter-spacing: 0px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a:hover {
  color: #ffcf3e;
}
.container {
  max-width: 1180px;
}
.btn-primary {
  background: $mainColor;
  border-color: $mainColor;
  border-radius: 10px;
  color: #000;
  padding: 10px;
}
.btn-primary:hover,
.btn-primary:focus {
  background: $secondColor;
  border-color: $secondColor;
  color: #000;
}
.dropdown-menu {
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1);
  border-color: transparent;
}
.dropdown-item {
  min-height: 44px;
  min-width: 200px;
  line-height: 40px;
}
.list-group-item {
  background-color: transparent;
  border-color: transparent;
  padding: 20px;
  font-weight: 600;
}
.list-group-item.active {
  background-color: #fff;
  color: #daa400;
  border: 1px solid #e0e0e0;
}
.nav-link.active {
  color: $pressedColor;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 2px solid #fec825;
    border-radius: 50px;
  }
}
.nav-link:hover {
  color: $pressedColor;
}
.nav-link {
  margin: 0.5rem 1rem;
  padding: 0;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: $mainColor;
  background: #fffcf4;
  border-radius: 0;
  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    bottom: 0;
    left: 0;
    border-left: 4px solid #fec825;
    border-bottom: transparent;
    border-radius: 0;
  }
}
.nav-tabs {
  padding: 10px 0;
  @media (max-width: 768px) {
    display: flex;
    justify-content: space-between;
  }

}
.nav-tabs .nav-link {
  border: none;
  color: #333;
  @media (max-width: 768px) {
    margin-bottom: 20px;
  }
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #daa400;

  &:after {
    bottom: -10px;
  }
}
.Wallets {
  .nav-item {
    a {
      img {
        padding: 10px;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .nav-link {
      width: 150px;
      height: 70px;
      border: 1px solid #bdbdbd;
      border-radius: 5px;
      margin: 0;
      &:hover {
        border-color: #fec825;
        box-shadow: 0 0 4px rgba(136, 136, 136, 0.2);
      }
    }

    .nav-link.active {
      border-color: #fec825;
      box-shadow: 0 0 4px rgba(136, 136, 136, 0.2);
      &:after {
        border: none;
      }
    }
    @media (max-width: 768px) {
      padding-bottom: 20px;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
  .walletsDesk {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    @media (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
.PrioritySelector {
  display: flex;
  justify-content: space-between;
  .text {
    color: #000;
  }
  .icon {
    border: 1px solid transparent;
  }
  .nav-link.active {
    & .icon {
      border: 1px solid #fec825;
      box-shadow: 0px 0px 30px rgba(136, 136, 136, 0.25);
      border-radius: 16px;
    }
  }
  a {
    color: $mainColor;
  }
  .nav-link.active:after {
    border: none;
  }
  @media (max-width: 768px) {
    overflow: auto;
  }
}
.card {
  border-color: transparent;
}
.form-group {
  margin-bottom: 2rem;
}
.form-control {
  height: 50px;
  background: #f5f5f5;
  border: transparent;
  &:focus {
    background: #f5f5f5;
  }
}
.modal-content {
  border-radius: 30px;
}
.modal-header {
  border: none;
}
.modal-body {
  position: relative;
  overflow: hidden;
}
.close {
  font-size: 3rem;
  font-weight: 400;
  color: #000;
}
.modal-header .close {
  margin: -2rem -1rem -1rem -3.5rem;
}
.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #fec825;
  background-color: #fff;
  color: #000;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  content: "";
  height: 6px;
  width: 9px;
  border-right: 2px solid #fec825;
  border-top: 2px solid #fec825;
  top: 8px;
  left: -20px;
  transform: rotate(127deg);
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label:focus {
  background: red;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: #fec825;
}
.custom-switch .custom-control-input:checked~.custom-control-label::after {
  background-color: red;
}
.custom-control-label {
  cursor: pointer;
}
////если окно браузера больше максимальной ширины сайта
//@media (min-width: 500px) {
//  html {
//    margin-left: calc(100vw - 100%);
//    margin-right: 0;
//  }
//}
body {
  overflow-y: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 12px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color: #ecf0f1;
}
::-webkit-scrollbar-thumb {
  background-color: #fec825;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #f3faf7;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ffde7b;
}
.navBarTOP {
  background-color: red;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #daa400;
}
.repelType {
  .list-group-item {
    padding: 5px 0;
    font-weight: 400;
  }
}
@media (max-width: 768px) {

}