.title {
  font-weight: 600;
  font-size: 54px;
  line-height: 64px;
  text-align: center;
  color: #333333;
}
.text {
  font-size: 16px;
  color: #333333;
}
.bg {
  padding-top: 120px;
  background: #f9f9f9;
  padding-bottom: 160px;
}
.bg_svg {
  position: absolute;
  top: 0;
  right: 0;
}
.button {
  padding: 15px 25px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
}
.bottom_padding {
  padding-bottom: 50px;
}
