@import "src/assets/globalStyles/variables";
.title {
  font-weight: 600;
  font-size: 54px;
  line-height: 64px;
  text-align: center;
  color: #333333;
}
.text {
  font-size: 16px;
  color: #333333;
}
.accent {
  color: #f1c40f;
}
.bg {
  padding-top: 120px;
  background: #f9f9f9;
  padding-bottom: 160px;
}
.bg_svg {
  position: absolute;
  top: 0;
  right: 0;
}
.button {
  padding: 15px 25px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
}
.bottom_padding {
  padding-bottom: 50px;
}
.modal_title {
  font-size: 35px;
  color: #333333;
  font-weight: 500;
  margin: 0 auto;
  padding-bottom: 20px;
}
.bgf9 {
  background-color: #f9f9f9;
}
.separator {
  border: 1px solid #e0e0e0;
  margin: 15px 0;
  width: 90%;
}
.fakeBg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
}
.quote {
  margin: 50px 50px;
  color: #fec825;
  text-align: center;
  border: 2px solid #fec825;
  padding: 40px;
  font-size: 30px;
}
.table thead th {
  border-top: none;
  border-bottom: 2px solid #fec825;
}
.table td {
  padding: 1.1rem;
}

.table tbody tr:nth-of-type(odd) {
  background-color: #fff;
}
.table tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

.mobile_jimbotron {
  min-height: 100%;
  background-position: 35% 1% !important;
  font-weight: 500;
}
.goBack {
  cursor: pointer;
  position: relative;
  color: $mainColor;
  padding-left: 20px;
  font-size: 22px;
  &:after {
    position: absolute;
    top: 7px;
    left: 2px;
    content: "";
    width: 13px;
    height: 13px;
    transform: rotate(-45deg);
    border-left: 2px solid $mainColor;
    border-top: 2px solid $mainColor;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 30px;
    line-height: 40px;
  }
}
