.referral_link {
  background-color: #fffaea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  height: 95px;
  width: 100%;

  span {
    font-size: 16px;
    color: #828282;
    margin-bottom: 5px;
  }

  .link {
    font-weight: 500;
    font-size: 16px;
    color: #daa400;
    cursor: pointer;
  }
}
