@import "./src/assets/globalStyles/style";
@import "./src/assets/globalStyles/variables";
.news {
  padding: 30px 0;
  @media (max-width: 768px) {
    padding: 50px 10px;

  }
}
.news {
  h2 {
    padding: 20px 0;
  }
}
