.CompanyInterest {
  margin-top: 80px;
  padding: 80px 0;
  background-color: #f9f9f9;
  h3 {
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
    color: #333333;
  }
  @media (max-width: 768px) {
    .title {
      font-size: 35px;
      line-height: 40px;
    }
    .img {
      width: 100%;
      object-fit: cover;
    }
  }

}
.container {
  background-color: #fff;
  display: flex;
  align-items: center;
}
.reset_padding {
  padding-left: 0;
}
