.bg {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 28%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90.17deg,
      #ffffff 20.6%,
      rgba(255, 255, 255, 0.4) 65.39%
    );
  }
}

.content {
  padding: 60px 0;
  z-index: 999;
  min-height: 450px;
  color: #333333;
  font-size: 20px;
  line-height: 160%;
  .accent {
    color: #f1c40f;
    font-size: 24px;
  }
  .accent2 {
    color: #f1c40f;
    font-size: 24px;
  }
  p {
    font-size: 20px;
    line-height: 38px;
    color: #000;
  }
}
.bg_img {
  height: 600px;
}
