@import "./src/assets/globalStyles/variables";

.side_bar {
  .card_body {
    padding: 0 8px;
  }
  .nav_link {
    margin: 0 1px;
    a {
      color: black;
    }

    padding: 20px 30px;

    span {
      padding-left: 10px;
    }
  }

  .nav_item {
    a {
      color: #4f4f4f;
      font-size: 16px;
      &:hover {
        color: $pressedColor;
      }
    }
  }
  .delimiter {
    border-bottom: 1px solid #e5e5e5;
    border-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(229, 229, 229, 1) 52%,
      rgba(255, 255, 255, 1) 100%
    );

    border-image-slice: 1;
  }
  .nav {
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
      .nav_item {
        display: flex;
        .nav_link {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 12px;
          width: 74px;
          i {
            padding-bottom: 10px;
          }
        }
      }
    }
  }
}
