.title {
  padding-top: 40px;
  font-weight: 600;
  font-size: 50px;
  line-height: 64px;
  text-align: center;
  color: #333333;
  margin-bottom: 60px;
}

.table thead th {
  border-top: none;
  border-bottom: 2px solid #fec825;
}
.table td {
  padding: 1.1rem;
}

.table tbody tr:nth-of-type(odd) {
  background-color: #fff;
}
.table tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}
