@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

$mainColor: #F1C40F;
$secondColor: #F39C12;

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  letter-spacing: 1px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  max-width: 1180px;
}
.btn-primary {
  background: $mainColor;
  border-color: $mainColor;
  border-radius: 10px;
  color: #000;
  padding: 10px;
}
.btn-primary:hover,.btn-primary:focus {
  background: $secondColor;
  border-color: $secondColor;
  color: #000;
}
.dropdown-menu {
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1);
  border-color: transparent;
}
.dropdown-item {
  min-height: 44px;
  min-width: 200px;
  line-height: 40px;
}


/*@media screen and (min-width: 500px) {!* если окно браузера больше максимальной ширины сайта *!*/
/*  html {*/
/*    margin-left: calc(100vw - 100%);*/
/*    margin-right: 0;*/
/*  }*/
/*}*/
body {
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 12px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color: #ECF0F1;

}
::-webkit-scrollbar-thumb {
  background-color: #3498DB;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #f3faf7;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #2980B9;
}
