.jumbotron {
  background-color: transparent;
  margin-top: 11%;
  min-height: 500px;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: 0 -141px;
    background-image: url("https://s3-alpha-sig.figma.com/img/5ce1/b4a8/ba33c7fcb30cd8fc06bbc763ee0052fc?Expires=1621209600&Signature=ZGVQTpGyGAhURDkj0QbOsIZSag4cW4bTMbsHgGkm5HBiYXYmj1WYV9zBnnZaLosFwgNCcrzsitvc3HR-Ac22S8gWlCNmvGh7bSTFUlUBnG76jl-UUr4aJDYUtfqQU9c6M44FnffTX8Vn2AZaP6Z9Ar8OAf36E60iDO1tiCrCChPHS0Tc-5lZ-ihGQE0kCJ2Lt95lIvx9J0d2qM0bps1ZB30k6U61A7TxqJJ~-~MnAq5yUWmgXj-YCaswZbRt7az5CEQNoUm0NXV7rBmXlCdw9TwwI1deLvQBAq3T4ms314JgFySNZAeGKDzn8L12ZiUa1OWFqnckAxTXrBRl31njvw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    z-index: -1;
    opacity: 0.3;
  }
}
.title {
  font-weight: 600;
  font-size: 54px;
  line-height: 64px;
  color: #333333;
}
.text {
  font-size: 16px;
  line-height: 1.6;
  color: #333333;
  font-style: normal;
  font-weight: normal;
}
.content {
  display: flex;
}
