.jumbotron {
  background-color: transparent;
  margin-top: 11%;
  min-height: 500px;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: 0 -141px;
    background-image: url("https://s3-alpha-sig.figma.com/img/5ce1/b4a8/ba33c7fcb30cd8fc06bbc763ee0052fc?Expires=1623024000&Signature=M6Phyqh-1vWoOvg0ACh9bDpnnNixwjojobEC29EiuHuC4e7lDOx4Ihow5GFPfMUnVBiRgev94TE5gIduOwzYKcAd~RV3wllirby2TTYWSH1X1aX1WV1O9yma1BYhaIRv1jwRKSrgexYkjLrxL2j30fgxGOGsFsZMWbImlBM3LpePWF87HR8KkqiCHOl-NFSEbG-45WGZF7RWyvT5hRwW~5bXPx49KfBtHUBJvTP9Cveqm2EXELx3NA2iBAfXu~5Gs7oP7-mtLMYS~bNxlLXuFmswbdHsHrMoWGP46gbtcHuPih3GELjug-y1JEZCCQyn1h7v3By1F91xaHn9GZVU5w__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
    z-index: -1;
    opacity: 0.3;
  }
  h1 {
    font-size: 54px;
  }
}
.title {
  font-weight: 600;
  font-size: 54px;
  line-height: 64px;
  color: #333333;
}
.text {
  font-size: 16px;
  line-height: 1.6;
  color: #333333;
  font-style: normal;
  font-weight: normal;
}
.content {
  display: flex;
}
