@import "./src/assets/globalStyles/style";
.NewApproach {
  background: #f9f9f9;
  padding: 90px 0;
}

.title {
  font-size: 50px;
  text-align: left;
  margin-bottom: 30px;
}
.img {
  height: 570px;
  width: 570px;
  border-radius: 5px;
}
