.wallet {
  box-shadow: 0px 0px 5px rgba(108, 108, 108, 0.05);
  border-radius: 10px;
  border: 1px solid #f2f2f2;

  &:hover {
    background: #ffde7b;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 95px;
    height: 91px;
  }

  .card_text {
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    color: #354052;
    margin: 5px 0 15px;
    position: relative;
    z-index: 2;
  }

  .card_title {
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    color: #354052;
    position: relative;
    z-index: 2;
  }

  .card_button {
    font-size: 16px;
    line-height: 20px;
    color: #fffc;
    position: relative;
    z-index: 3;
    padding: 10px 10px;
  }

  .card_body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .card_button_hover {
    @extend .card_button;
    color: #333333;
    background: #ffffff;
    box-shadow: none;
  }
}
