@import "./src/assets/globalStyles/style";
.title {
  font-size: 50px;
  text-align: left;
  margin-bottom: 30px;
}
.img {
  height: 570px;
  width: 570px;
  border-radius: 5px;
  object-fit: cover;
}
.full_width {
  border-radius: 5px;
  margin-top: 30px;
  width: 100%;
  height: 450px;
  object-fit: cover;
}
.NewApproach,
.Satisfied,
.Dreams,
.become_partner {
  background: #f9f9f9;
  padding: 90px 0;
}
.become_partner_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.become_partner_title {
  @extend .title;
  text-align: center;
  span {
    color: #fec825;
  }
}
.Dreams {
  .text_right {
    @extend .text;
    margin-top: 150px;
  }
}
.Satisfied_bg {
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 5px;
}
.Satisfied_title {
  @extend .title;
  font-size: 40px;
}
.thinkOutside {
  padding: 90px 0;
}
