footer {
  margin-top: 50px;
  p {
    font-size: 14px;
    color: #828282;
    line-height: 1.6;
  }
}

.nav_Link {
  padding: 6px 0;
  color: #4f4f4f;
}
.title {
  text-transform: uppercase;
  margin: 0.5rem 1rem;
  color: #bdbdbd;
}
.title,
.nav_Link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.copy,
.privacyPolicy {
  font-size: 12px;
  line-height: 12px;
  color: #828282;
}
.privacyPolicy {
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  .privacy {
    color: #828282;
    text-decoration-line: underline;
    &:hover {
      text-decoration-line: none;
    }
  }
  & .privacy {
    margin-right: 30px;
  }
}
