footer {
  margin-top: 50px;
  p {
    font-size: 14px;
    color: #828282;
    line-height: 1.6;
  }
}

.nav_Link {
  padding: 6px 0;
  color: #4f4f4f;
}
.title {
  text-transform: uppercase;
  color: #bdbdbd;
}
.title,
.nav_Link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.copy {
  font-size: 12px;
  line-height: 12px;
  color: #828282;
}
