.row {
  margin-top: 24px;
  border-bottom: 1px solid #e0e0e0;
  margin-left: 0;
  margin-bottom: 26px;
}
.col {
  padding-left: 0;
  margin-bottom: 10px;
  span {
    color: #828282;
    font-size: 16px;
    font-weight: 500;
  }
}
